.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.colortest1 {
  background-color: #92d441;
  color: rgb(224, 58, 58);
}

.colortest2 {
  background-color: rgb(232, 121, 232);
  color: rgb(237, 214, 98);
}

.colortest3 {
  background-color: rgb(187, 232, 75);
  color: rgb(85, 236, 219);
}

.Website {
  background-color: #f1f8ff;
  color: #666565;
}

.header {
  background-color: #0f172b;
  color: #fea116;
}

.footer {
  background-color: #0f172b;
}

* {
  margin: auto;
}

@media (max-width: 992px) {
  .navbar-collapse {
    display: none !important;
  }
}

.wrapper {
  background-color: #ffff;
  color: rgb(74, 74, 74);
  display: flex;
  align-items: center;
}

.wrapper > p {
  margin-left: 0;
  margin-top: 15px;
}

.wrapperfooter {
  margin: 0;
  display: inline-flex;
}

.wrapperfooter > p {
  margin-left: 0px;
  margin-top: 15px;
  display: inline-block;
}

.wrapperfooter > a > i {
  color: #ffff;
  margin-left: 0px;
}
